---
layout: default
---
<article>
    <h1>{{ page.title }}</h1>
    <p class="post-meta">Written on {{ page.date | date: "%B %e, %Y" }}</p>

    {{ content }}

    {% if page.tags %}
    <p class="post-tags">
        Tags:
        {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
    </p>
    {% endif %}

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
    "bio": "{{ site.author.bio }}"
  }
  "description": "{{ page.excerpt | strip_html | truncate: 160 }}",
  "url": "{{ site.url }}{{ page.url }}"
}
</script>
</article>
